/*******************oneday main.css***************/
*{margin:0;padding:0
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*-webkit-user-select: none;*/ /* prevent copy paste, to allow, change 'none' to 'text' */
	/* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}
html,body{height:100%;width:100%;overflow: hidden}

.container {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.container img{width:100%;height:100%}

#robot {
	position: absolute;top: 0px;left: 0px;z-index: 1;-webkit-box-shadow: 0px 0px 20px 0px #707070;
	-moz-box-shadow: 0px 0px 20px 0px #707070;box-shadow: 0px 0px 20px 0px #707070;}

#redux {
	position: absolute;top: 0px;left: 0px;z-index: 2;
}


.spinner {
	margin: 0 auto;
	width: 50px;
	height: 60px;
	text-align: center;
	font-size: 10px;

}

.spinner > div {
	background-color: #67CF22;
	height: 100%;
	width: 6px;
	display: inline-block;

	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
	margin:0 3px;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes stretchdelay {
	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
	0%, 40%, 100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}  20% {
		   transform: scaleY(1.0);
		   -webkit-transform: scaleY(1.0);
	   }
}


canvas{border: none}
.swiper-container {
	width: 100%;
	color: #fff;
	text-align: center;
}
.swiper-slide{position: relative;}
.swiper-slide .m_bk{position: absolute;left:0;top:0;z-index: 1}
.swiper-slide .m_zi{position: absolute;z-index: 2;-webkit-transition:All 1.0s ease-out;opacity: 0}
.drc{position: absolute;top:0;-webkit-transition:All 1.0s ease-out;opacity: 0;z-index: 1}
#drc-left{left:-50%}
#drc-right{right:-50%}
.c-ht{position: absolute;left:0;top:0;z-index: 2;-webkit-transition:All 1.0s ease-out;opacity: 0;}

.xin{position: absolute;top:40%;left:50%;margin-left:-15%;
	-webkit-transition:All 1.0s ease-out;opacity: 0;
	-webkit-animation:xindong 2s 0s infinite linear normal none ;
	z-index: 3;
}

@-webkit-keyframes xindong{
	0%{
		-webkit-transform:scale(1,1);
	}
	25%{
		-webkit-transform:scale(1.2,1.2);
	}
	50%{
		-webkit-transform:scale(1,1);
	}
	75%{
		-webkit-transform:scale(1.2,1.2);
	}
	100%{
		-webkit-transform:scale(1,1);
	}
}

#zi2{top:75%;left:50%;margin-left:-37%}
#zi3{bottom:15%;left:50%;margin-left:-45%}
#cloud{position: absolute;z-index: 2;top:5%;
	-webkit-transform:translate(100%,0);
	-webkit-animation:move 10s 5s infinite linear normal none ;}
@-webkit-keyframes move{
	0%{
		-webkit-transform:translateX(100%);
	}
	100%{
		-webkit-transform:translateX(-200%);
	}
}
#zi4{top:35%;left:50%;margin-left:-45%}
#zi5{bottom:20%;right:10%}
.light{position: absolute;left:0;top:0;z-index: 2; display: none}
#zi7{bottom:10%;left:50%;margin-left:-25%}
#zi8{top:10%;left:0}
#zi9{right:10%;bottom:25%}
#zi10{left:50%;bottom:7%;margin-left:-25%}
#zi11{left:70%;bottom:15%;margin-left:-20%}
#zi13{right:5%;top:15%;}
.fx{width:80%;height:30%;position: absolute;left:50%;margin-left:-40%;top:5%}
.hd{padding-bottom:5%}
.names{border: 1px solid #BBC68B;background:#fff;height:25px;width:85px;margin-left:22%;margin-top:-1%}
.textarea{width:100%;height:75px;resize: none;border: 1px solid #BBC68B;background:#fff}
.ft{padding-top:5%}
.ft img{margin:0 5%}
.m_15_logo{position: absolute;left:50%;margin-left:-25%;bottom:5%}

.btn_music {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('../images/play.png') no-repeat center center;
	background-size: 100% auto;
	position: absolute;
	z-index: 100;
	left: 15px;
	top: 30px;
	overflow:hidden;
}
.btn_music.on {
	background-image: url("../images/stop.png");
}
.share{width: 100%;height:100%;background:rgba(0, 0, 0, 0.7);position:absolute;left:0;top:0;z-index: 5; display: none}
.share img{position: absolute;right:9%;top:3%;z-index: 6}



.xin{position: absolute;top:40%;left:50%;margin-left:-15%;
	-webkit-transition:All 1.0s ease-out;opacity: 0;
	-webkit-animation:xindong 2s 0s infinite linear normal none ;
	z-index: 3;
}




.arr-bottom{position: absolute;z-index: 5;left:50%;margin-left:-5%;
	-webkit-transition:All 1.0s ease-out;

}

.arr-bottom{bottom:5%;-webkit-animation:arrBottom 1s 0s infinite linear normal none ;}
@-webkit-keyframes arrBottom{
	0%{
		-webkit-transform:translateY(-20%);
		opacity: 1
	}
	100%{
		-webkit-transform:translateY(10%);
		opacity: 0
	}
}

.hd{
	background-image: url('../images/last-tit.png');
	background-size: 80% auto;
	background-repeat: no-repeat;
}
#last{
	background-color: #E8F0C5;
}
#wScratchPad2{
	position:relative;
	width:100%;
	height:100%;
}